.story {
  width: min(70rem, calc(60% + 12rem));
}

.story header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.story section {
  border: solid white;
  border-width: 0.15em 0 0;
}

.story blockquote {
  margin-block: 0;
}

.story h1 {
  font-weight: 500;
  word-spacing: var(--story-word-spacing);
  line-height: 1.5em;
  margin: calc(1.5 * var(--story-line-height)) 0;
  font-size: calc(2.25 * var(--story-line-height));
}

.story section h1 {
  margin: var(--story-line-height) 0;
  font-size: calc(1.5 * var(--story-line-height));
}

.story p {
  font-weight: 300;
  word-spacing: var(--story-word-spacing);
  line-height: var(--story-line-height);
  margin: 0 0 var(--story-line-height);
  font-size: calc((2 / 3) * var(--story-line-height));
}

.story section p:first-child {
  margin-top: var(--story-line-height);
}

.story header p {
  font-size: var(--story-line-height);
}

.story em {
  font-family: var(--doolittle-garamond-italic), serif;
  font-size: 1.15em;
  font-weight: 200;
}

.story a[href] {
  color: darkgoldenrod;
  text-decoration: none;
}

.story span {
  cursor: text;
}
