.story {
  max-width: var(--story-max-width);
  position: relative;
  font-variant-numeric: oldstyle-nums;
}

@media (hover: hover) {
  @media (width <= 880px) {
    /* i.e. where the bookmark and its margins hit the left edge of the viewport: 70rem + 2 * (--pointer-bookmark-width + 2 * --story-half-margin) */
    .story {
      align-self: flex-start;
      margin-left: calc(
        var(--pointer-bookmark-width) + 3 * var(--story-half-margin)
      );
      margin-right: var(--story-half-margin);
    }
  }
}

@media (hover: none) {
  .story {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100vw - 3 * var(--story-half-margin));
    margin-left: calc(0.5 * var(--story-half-margin));
    margin-right: var(--story-half-margin);
    overflow-x: clip;
  }

  .story header,
  .story footer {
    align-self: center;
  }

  .story section {
    margin-left: calc(
      var(--story-half-margin) - var(--touch-bookmark-indicator-width)
    );
  }
}

.story header,
.story footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.story section {
  border: solid var(--front);
  border-width: 0.15em 0 0;
}

.story blockquote {
  margin-block: 0;
}

.story h1 {
  font-weight: 500;
  word-spacing: var(--story-word-spacing);
  line-height: 1.5em;
  margin: calc(1.5 * var(--story-line-height)) 0;
  font-size: calc(2.25 * var(--story-line-height));
}

.story section h1 {
  margin: 0;
  font-size: calc(1.5 * var(--story-line-height));
}

.story p {
  font-weight: 300;
  word-spacing: var(--story-word-spacing);
  line-height: var(--story-line-height);
  font-size: calc((2 / 3) * var(--story-line-height));
}

.story section p {
  margin: 0;
}

.story header p {
  font-size: var(--story-line-height);
  margin: 0 0 var(--story-line-height);
}

.story a[href] {
  color: var(--accent);
}

.story span {
  cursor: text;
}
