.formatStory {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5em;
}

.heading {
  margin: 0;
}

.formatStory form {
  display: flex;
  flex-direction: column;
}

.formatStory label,
.formatStory p {
  margin: 0.5em 0;
}

.formatStory div {
  height: 3.25rem;
}

.transliteration {
  color: inherit;
}

.reset {
  width: 100%;
}
