:root {
  font-size: 0.625rem;
  --story-line-height: 4.2rem;
  --story-word-spacing: 0.3em;
  --mobile-story-margin: 25px;
  font-family: var(--ormin-regular), sans-serif;
  font-variant-numeric: oldstyle-nums;
  scroll-behavior: smooth;

  /* Default dark theme
     See [data-theme="light"] below for light theme
  */
  --back: hsl(0, 0%, 10%);
  --front: white;
  --accent: darkgoldenrod;
  /* --back-transparent: hsla(120 4% 8% / 0.9);
  --mid-weak: hsl(120 9% 16%);
  --mid: hsl(120 7% 21%);
  --front-weak: hsl(120 15% 88%); */
}

body {
  background: var(--back);
  color: var(--front);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Default styling overrides */
a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}
