.bookmarkSwipeWrapper {
  display: flex;
  position: relative;
  margin-bottom: var(--story-line-height);
}

.bookmarkSwipeWrapper:first-child {
  margin-top: var(--story-line-height);
}

.bookmark {
  --add-color: darkgreen;
  --remove-color: darkred;
  padding-right: calc(2 * var(--story-half-margin));
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 3em;
  scroll-margin-top: var(--story-line-height);
}

.iconContainer {
  display: flex;
  height: 100%;
}

.icon {
  --number-of-lines-buffer: 4;
  --max-height: calc(
    (1 + 2 * var(--number-of-lines-buffer)) * var(--story-line-height)
  );
  position: sticky;
  top: calc(50% - 0.5 * var(--max-height));
  max-height: var(--max-height);
  display: flex;
  align-items: center;
  line-height: var(--story-line-height);
  font-size: calc((2 / 3) * var(--story-line-height));
}

.bookmark .iconContainer,
.bookmark .icon {
  cursor: inherit;
}

@media (hover: hover) {
  .bookmark {
    width: var(--pointer-bookmark-width);
    height: 100%;
    position: absolute;
    left: calc(
      0px - var(--pointer-bookmark-width) - 3 * var(--story-half-margin)
    );
    opacity: 0;
  }

  .bookmarkSwipeWrapper:hover .bookmark,
  .bookmark.isBookmarked {
    opacity: 1;
  }

  .bookmark.isBookmarked {
    background-color: var(--accent);
  }

  .bookmark:hover {
    background-color: var(--add-color);
  }

  .bookmark:hover.isBookmarked {
    background-color: var(--remove-color);
  }

  .text {
    flex-grow: 1;
  }
}

@media (hover: none) {
  .bookmarkSwipeWrapper {
    --touch-bookmark-width: 125px;
    transition: left 0.2s linear;
    left: calc(
      var(--touch-bookmark-indicator-width) - var(--touch-bookmark-width) -
        (3 * var(--story-half-margin))
    );
  }

  .bookmark {
    width: var(--touch-bookmark-width);
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    background-color: var(--accent);
    margin-right: var(--story-half-margin);
  }

  .bookmark.isBookmarked {
    width: calc(
      var(--touch-bookmark-indicator-width) + var(--touch-bookmark-width)
    );
    margin-right: calc(
      var(--story-half-margin) - var(--touch-bookmark-indicator-width)
    );
  }

  .swipeAdd {
    background-color: var(--add-color);
  }

  .swipeRemove {
    background-color: var(--remove-color);
  }

  .text {
    width: calc(100vw - 4 * var(--story-half-margin));
    max-width: var(--story-max-width);
  }
}
