.storyContainer {
  --margin: 25px;
  --line-height: 2rem;
  --container-width: calc(100vw - 1.5 * var(--margin));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: var(--container-width);
  margin-left: calc(0.5 * var(--margin));
  margin-right: var(--margin);
  overflow-x: hidden;
  line-height: var(--line-height);
  font-size: calc((2 / 3) * var(--line-height));
}

.line {
  position: relative;
  margin-bottom: var(--line-height);
  display: flex;
  transition: left 0.2s ease-out;
}

.icon {
  width: 150px;
  padding-right: var(--margin);
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 3em;
  transition: background-color 0.2s ease-in-out;
}

.paragraph {
  touch-action: pan-x;
  margin: 0;
  width: var(--container-width);
  transition: border 0.2s ease-in-out;
}
