.scrollButton {
  position: absolute;
  top: var(--story-half-margin);
  right: 0;
  line-height: var(--story-line-height);
  font-size: calc((2 / 3) * var(--story-line-height));
  color: var(--accent);
}
