.tableContainer {
  display: flex;
  flex-direction: column;
}

.search {
  align-self: flex-end;
  font-size: 2rem;
  margin: 2rem 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 2rem;
  text-align: left;
}

.table tr {
  height: 6rem;
}

.tableHeader {
  font-weight: 500;
  background-color: hsl(0, 0%, 15%);
}

.tableBody {
  font-weight: 300;
}

.tableRow:not(:last-child) {
  border: solid hsl(0, 0%, 18%);
  border-width: 0 0 0.05em;
}

.tableRow:hover {
  background-color: hsl(0, 0%, 18%);
}

.table th,
.table td {
  padding: 0 2rem;
}

.tableHeader button,
.table a {
  width: 100%;
  display: block;
}

.author {
  width: 10em;
}

.genre {
  width: 10em;
}

.genre button {
  padding: 0.3em 0.5em;
  border-radius: 0.2em;
  color: var(--back);
  background-color: var(--accent);
}

.year {
  width: 6em;
}
