.tableContainer {
  display: flex;
  flex-direction: column;
}

.search {
  align-self: flex-end;
  font-size: 2rem;
  margin: 2rem 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 2rem;
  line-height: 6rem;
  text-align: left;
}

.tableHeader {
  font-weight: 500;
  background-color: hsl(0, 0%, 15%);
}

.tableBody {
  font-weight: 300;
}

.tableRow:not(:last-child) {
  border: solid hsl(0, 0%, 18%);
  border-width: 0 0 0.05em;
}

.tableRow:hover {
  background-color: hsl(0, 0%, 18%);
}

.table th,
.table td {
  padding: 0 2rem;
}

.table button,
.table a {
  width: 100%;
  display: block;
}

.sortIcon {
  margin-left: 1rem;
}

.author {
  width: 20rem;
}

.year {
  width: 12rem;
}
